/* Font for small headings */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

/* Font for big headings */
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font for entire html-body */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



@layer base {

  html {
    font-family: 'Inter', system-ui, sans-serif;  
  }
}

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: rgb(0, 0, 0);
    --background-end-rgb: rgb(0, 0, 0);
  }
}

.hexa {
  width: 0;
  border-bottom: 100px solid white;
  border-left: 150px solid transparent;
  width: 100%;
}

.swiper-pagination-bullet {
  background: #000 !important;
  width: 23.3% !important ;
  border-radius: 0% !important;
}
