/* Font for nav items */
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

/* Font for small headings + big headings */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@550&display=swap');

/* Font for paragraphs */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font for entire html-body */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
}

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: rgb(0, 0, 0);
    --background-end-rgb: rgb(0, 0, 0);
  }
}

.hexa {
  width: 0;
  border-bottom: 100px solid white;
  border-left: 150px solid transparent;
  width: 100%;
}

/* .swiper-pagination-bullets {
  display: flex !important; 
  width: 100% !important; 
  margin: 0 !important;
} */

.swiper-pagination-bullet {
  background: #000 !important;
  width: 23.3% !important;
  /* height: 40px; */
  border-radius: 0% !important;
}

.nav {
  @apply fixed top-0 w-full z-40 flex items-center justify-between px-6 sm:px-10  py-4 xl:py-2 text-black bg-gradient-to-t to-[#343131]/80 from-black/50  font-semibold;
}
.navlink {
  @apply py-1 w-full hover:scale-105 transition-all duration-150;
}
.nav-desktop {
  @apply hidden md:flex justify-between xl:gap-14 py-3 lg:w-[74%] 2xl:w-[60%];
}
.nav-mobile {
  @apply xl:hidden absolute top-16 z-30 flex flex-col gap-6  bg-gradient-to-t to-[#343131]/60 from-black px-6  py-6 right-0 justify-center w-[60%] text-center xl:relative  xl:flex-row xl:w-[80%] xl:top-0 xl:bg-none;
}
.nav-hover {
  @apply hover:text-[#E11D48] focus:text-[#E11D48];
}

@media (min-width: 452px) and (max-width: 637px) {
  .brands-xsm {
    height: 650px;
  }
}

@media (min-width: 638px) and (max-width: 767px) {
  .brands-xsm {
    height: 550px;
  }
}
