/* Font for small headings */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

/* Font for big headings */
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font for entire html-body */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;  
  }
}

:root {
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-start-rgb: rgb(0, 0, 0);
    --background-end-rgb: rgb(0, 0, 0);
  }
}

.hexa {
  width: 0;
  border-bottom: 100px solid white;
  border-left: 150px solid transparent;
  width: 100%;
}

.swiper-pagination-bullet {
  background: #000 !important;
  width: 23.3% !important ;
  border-radius: 0% !important;
}

.nav {
  @apply fixed top-0 w-full z-50 flex items-center justify-between px-10  py-6 xl:py-2 text-black bg-gradient-to-t to-[#343131]/80 from-black/50 text-xl font-bold;
}
.navlink {
  @apply px-8 py-4 rounded-2xl w-full;
}
.nav-desktop {
  @apply hidden xl:flex justify-between xl:gap-20 py-4 lg:w-[74%] 2xl:w-[60%];
}
.nav-mobile {
  @apply xl:hidden absolute top-20 z-30 flex flex-col gap-6  bg-gradient-to-t to-[#343131]/60 from-black p-10 right-0 justify-center w-[60%] text-center xl:relative  xl:flex-row xl:w-[80%] xl:top-0 xl:bg-none;
}
